@page "/cat/{id:int}"

<PageTitle>Описание товара — CatStore</PageTitle>

<div class="grid grid-cols-12 xl:gap-5 gap-4">
    <Panel CssClasses="xl:col-start-2 lg:col-start-2 xl:col-span-3 lg:col-span-10 col-span-12">
        <CatPreview FurColor="#F6F6F6" EyeColor="#46C1DC" EarColor="#FFD9D9" IsMale="false"/>
    </Panel>

    <Panel CssClasses="xl:col-start-5 lg:col-start-2 xl:col-span-7 lg:col-span-10 col-span-12 flex flex-col gap-3">
        <ValueFieldWithLabel Label="Имя">Персик</ValueFieldWithLabel>
        <ValueFieldWithLabel Label="Цвет шерсти">#f0ad6f</ValueFieldWithLabel>
        <ValueFieldWithLabel Label="Цвет глаз">#7aab54</ValueFieldWithLabel>
        <ValueFieldWithLabel Label="Цвет ушей">#ffcea1</ValueFieldWithLabel>
        <ValueFieldWithLabel Label="Пол">
            @(IsMale ? "Мальчик" : "Девочка")
        </ValueFieldWithLabel>
        <ValueFieldWithLabel Label="Цена">
            @if (Discount > 0)
            {
                <span class="text-primary">@(Cost - Discount) $</span>
                <span class="line-through text-xs">@Cost $</span>
            }
            else
            {
                <span>@Cost $</span>
            }
        </ValueFieldWithLabel>
    </Panel>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    
    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string FurColor { get; set; } = string.Empty;

    [Parameter]
    public string EarColor { get; set; } = string.Empty;

    [Parameter]
    public string EyeColor { get; set; } = string.Empty;

    [Parameter]
    public bool IsMale { get; set; }

    [Parameter]
    public int Cost { get; set; }

    [Parameter]
    public int Discount { get; set; }     
}