@page "/cat/{id:int}"

<PageTitle>Описание товара — CatStore</PageTitle>

<div class="grid grid-cols-12 xl:gap-5 gap-4">
    <Panel CssClasses="xl:col-start-2 lg:col-start-2 xl:col-span-3 lg:col-span-10 col-span-12">
        <CatPreview FurColor="#F6F6F6" EyeColor="#46C1DC" EarColor="#FFD9D9" IsMale="false"/>
    </Panel>

    <Panel CssClasses="xl:col-start-5 lg:col-start-2 xl:col-span-7 lg:col-span-10 col-span-12 flex flex-col gap-3">
        <div class="flex flex-col gap-2">
            <h2 class="text-sm">Имя</h2>
            <p class="text-sm text-muted bg-background px-3 py-2 rounded-lg font-mono">Персик</p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-sm">Цвет шерсти</h2>
            <p class="text-sm text-muted bg-background px-3 py-2 rounded-lg font-mono">#f0ad6f</p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-sm">Цвет глаз</h2>
            <p class="text-sm text-muted bg-background px-3 py-2 rounded-lg font-mono">#7aab54</p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-sm">Цвет ушей</h2>
            <p class="text-sm text-muted bg-background px-3 py-2 rounded-lg font-mono">#ffcea1</p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-sm">Пол</h2>
            <p class="text-sm text-muted bg-background px-3 py-2 rounded-lg font-mono">@(IsMale ? "Мальчик" : "Девочка")</p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-sm">Цена</h2>
            <p class="text-sm text-muted bg-background px-3 py-2 rounded-lg font-mono">
                @if (Discount > 0)
                {
                    <span class="text-primary">@(Cost - Discount) $</span>
                    <span class="line-through text-xs">@Cost $</span>
                }
                else
                {
                    <span>@Cost $</span>    
                }    
            </p>
        </div>
    </Panel>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    
    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string FurColor { get; set; } = string.Empty;

    [Parameter]
    public string EarColor { get; set; } = string.Empty;

    [Parameter]
    public string EyeColor { get; set; } = string.Empty;

    [Parameter]
    public bool IsMale { get; set; }

    [Parameter]
    public int Cost { get; set; }

    [Parameter]
    public int Discount { get; set; }     
}