@page "/"
@inject HttpClient HttpClient

<PageTitle>Главная — CatStore</PageTitle>

<div class="grid grid-cols-12 xl:gap-5 gap-4">
    <Panel CssClasses="flex flex-col xl:gap-4 gap-3 lg:flex hidden col-span-3">
        <div class="flex flex-col gap-2">
            <h2>Цена</h2>
            <InputField InputType="number" Placeholder="От 199"/>
            <InputField InputType="number" Placeholder="До 499"/>
        </div>

        <div class="flex flex-col gap-2">
            <h2>Пол</h2>
            <RadioButton Text="Любой" Name="gender" Checked />
            <RadioButton Text="Мальчик" Name="gender" />
            <RadioButton Text="Девочка" Name="gender" />
        </div>

        <div class="flex flex-col gap-2">
            <h2 >Цвет</h2>
            <RadioButton Text="Любой" Name="color" Checked />
            <RadioButton Text="Черный" Name="color" />
            <RadioButton Text="Белый" Name="color" />
            <RadioButton Text="Красный" Name="color" />
            <RadioButton Text="Оранжевый" Name="color" />
            <RadioButton Text="Желтый" Name="color" />
            <RadioButton Text="Зеленый" Name="color" />
            <RadioButton Text="Синий" Name="color" />
            <RadioButton Text="Фиолетовый" Name="color" />
        </div>

        <div class="flex flex-col gap-2">
            <ApplyButton>Применить</ApplyButton>
            <Button>Сбросить</Button>
        </div>
    </Panel>

    <div class="lg:col-span-9 col-span-12 flex flex-col xl:gap-5 gap-4">
        <Panel CssClasses="h-16">
            <div class="w-52"><SortDropDown /></div>
        </Panel>

        <div class="grid xl:grid-cols-4 grid-cols-3 auto-rows-min xl:gap-5 gap-4">
            @foreach(var cat in Cats)
            {
                <CatCard Cat="cat" EarColor="#ffcea1" Discount="0" />
            }
        </div>
    </div>
</div>

@code {
    public List<CatResponse> Cats { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Cats = await HttpClient.GetFromJsonAsync<List<CatResponse>>("/api/Cats") ?? new List<CatResponse>();
    }
}