@page "/"

<PageTitle>Главная — CatStore</PageTitle>

<div class="grid grid-cols-12 xl:gap-5 gap-4">
    <div class="lg:block hidden col-span-3">
        <FilterPanel />
    </div>

    <div class="lg:col-span-9 col-span-12 flex flex-col xl:gap-5 gap-4">
        <div class="h-16 xl:px-5 px-4 xl:py-4 py-3 bg-neutral rounded-lg shadow">
            Доп. панель
        </div>
        <div class="grid xl:grid-cols-4 grid-cols-3 auto-rows-min xl:gap-5 gap-4">
            @for(var i = 0; i < 16; i++)
            {
                <div class="h-52 xl:px-5 px-4 xl:py-4 py-3 bg-neutral rounded-lg shadow">
                    Котик
                </div>
            }
        </div>
    </div>
</div>