@page "/login"
@layout EmptyLayout

<PageTitle>Авторизация — CatStore</PageTitle>

<div class="xl:container w-full grid grid-cols-12 xl:gap-5 gap-4 content-center grow">
    <div class="xl:col-span-4 col-span-6 xl:col-start-5 col-start-4 flex flex-col gap-3 xl:px-5 px-4 xl:py-4 py-3 bg-neutral rounded-lg shadow text-sm">
        <h1 class="text-xl text-center">Авторизация</h1>
        
        <div class="flex flex-col gap-2">
            <h2>Электронная почта</h2>
            <input class="border-solid border-second border rounded-lg h-9 indent-3 placeholder:text-muted" type="email" placeholder="example@gmail.com" />
        </div>
        
        <div class="flex flex-col gap-2">
            <h2>Пароль</h2>
            <input class="border-solid border-second border rounded-lg h-9 indent-3 placeholder:text-muted" type="password" placeholder="password" />
        </div>
        
        <p class="text-attention">* Логин или пароль указаны неверно</p>
        
        <div class="flex justify-center items-center rounded-lg h-9 bg-primary text-white">Войти</div>
        
        <p class="text-xs text-center">Нет аккаунта? <a class="text-primary hover:cursor-pointer" href="/register">Регистрация</a></p>
    </div>
</div>