@page "/login"
@layout EmptyLayout

<PageTitle>Авторизация — CatStore</PageTitle>

<div class="xl:container w-full grid grid-cols-12 xl:gap-5 gap-4 content-center grow">
    <Panel CssClasses="xl:col-span-4 col-span-6 xl:col-start-5 col-start-4 flex flex-col gap-3">
        <h1 class="text-xl text-center">Авторизация</h1>
        <InputFieldWithLabel Label="Электронная почта" InputType="email" Placeholder="example@gmail.com" />
        <InputFieldWithLabel Label="Пароль" InputType="password" Placeholder="password" />
        <p class="text-attention">* Логин или пароль указаны неверно</p>
        <ApplyButton>Войти</ApplyButton>
        <p class="text-xs text-center">Нет аккаунта? <a class="text-primary hover:cursor-pointer" href="/register">Регистрация</a></p>
    </Panel>
</div>