@page "/orders"
@layout ProfileLayout

<PageTitle>Заказы — CatStore</PageTitle>

<Panel CssClasses="flex flex-col gap-3">
    <details class="px-5 py-2 bg-background rounded-lg hover:cursor-pointer hover:shadow-md" name="order">
        <summary class="flex justify-between">
            <span>Заказ 3a4b97a9-8851-4276-8129-ce72dc403ead <span class="text-xs text-muted">от 24.02.2024 </span></span>
            <span>Итого: 946$</span>
        </summary>

        <div class="flex flex-col gap-2 mt-3">
            <div class="flex justify-between">
                <span>Персик</span>
                <span><span class="text-muted">2 шт. x 199$ = </span>398$</span>
            </div>
            <hr class="last:hidden" />
            <div class="flex justify-between">
                <span>Дымок</span>
                <span><span class="text-muted">1 шт. x 249$ = </span>249$</span>
            </div>
            <hr class="last:hidden" />
            <div class="flex justify-between">
                <span>Снежинка</span>
                <span><span class="text-muted">1 шт. x 299$ = </span>299$</span>
            </div>
            <hr class="last:hidden" />
        </div>
    </details>

    <details class="px-5 py-2 bg-background rounded-lg hover:cursor-pointer hover:shadow-md" name="order">
        <summary class="flex justify-between">
            <span>Заказ 3778ee7c-7b7c-4efa-823f-d1f50aa06789 <span class="text-xs text-muted">от 22.02.2024</span></span>
            <span>Итого: 498$</span>
        </summary>

        <div class="flex flex-col gap-2 mt-3">
            <div class="flex justify-between">
                <span>Персик</span>
                <span><span class="text-muted">2 шт. x 199$ = </span>398$</span>
            </div>
            <hr class="last:hidden" />
            <div class="flex justify-between">
                <span>Дымок</span>
                <span><span class="text-muted">1 шт. x 249$ = </span>249$</span>
            </div>
            <hr class="last:hidden" />
            <div class="flex justify-between">
                <span>Снежинка</span>
                <span><span class="text-muted">1 шт. x 299$ = </span>299$</span>
            </div>
            <hr class="last:hidden" />
        </div>
    </details>
</Panel>