@page "/products"
@layout ProfileLayout
@attribute [Authorize(Policy = "CanEditCats")]

<PageTitle>Управление товарами — CatStore</PageTitle>

<Panel CssClasses="flex lg:flex-row flex-col xl:gap-5 gap-4">
    <div class="basis-1/4 flex justify-center items-center">
        <CatPreview FurColor="#F6F6F6" EyeColor="#46C1DC" EarColor="#FFD9D9" IsMale="false"/>
    </div>
    
    <div class="basis-3/4 flex flex-col gap-3 w-full">
        <div class="flex justify-between gap-2">
            <InputFieldWithLabel Label="Имя" InputType="text" Placeholder="Персик" />
            <InputFieldWithLabel Label="Пол" InputType="text" Placeholder="Мальчик" />
        </div>

        <div class="flex justify-between gap-2">
            <InputFieldWithLabel Label="Цвет шерсти" InputType="text" Placeholder="#ffffff" />
            <InputFieldWithLabel Label="Цвет глаз" InputType="text" Placeholder="#000000" />
            <InputFieldWithLabel Label="Цвет ушей" InputType="text" Placeholder="#e3e3e3" />
        </div>

        <div class="flex justify-between gap-2">
            <InputFieldWithLabel Label="Цена" InputType="text" Placeholder="0$" />
            <InputFieldWithLabel Label="Скидка" InputType="text" Placeholder="0$" />
        </div>

        <ApplyButton>Добавить</ApplyButton>
    </div>
</Panel>

<Panel CssClasses="flex flex-col gap-3">
    <Button>Добавить нового котика</Button>
    <div class="flex gap-2">
        <p class=" border-solid border-second border text-sm w-full bg-background px-3 py-2 rounded-lg hover:cursor-pointer hover:shadow-md">Персик</p>
        <TrashBinButton />
    </div>
    <div class="flex gap-2">
        <p class=" border-solid border-second border text-sm w-full bg-background px-3 py-2 rounded-lg hover:cursor-pointer hover:shadow-md">Клубничка</p>
        <TrashBinButton />
    </div>
    <div class="flex gap-2">
        <p class=" border-solid border-second border text-sm w-full bg-background px-3 py-2 rounded-lg hover:cursor-pointer hover:shadow-md">Коржик</p>
        <TrashBinButton />
    </div>
</Panel>
    
@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string FurColor { get; set; } = string.Empty;

    [Parameter]
    public string EarColor { get; set; } = string.Empty;

    [Parameter]
    public string EyeColor { get; set; } = string.Empty;

    [Parameter]
    public bool IsMale { get; set; }

    [Parameter]
    public int Cost { get; set; }

    [Parameter]
    public int Discount { get; set; }     
}