@page "/profile"
@layout ProfileLayout
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<PageTitle>Профиль — CatStore</PageTitle>

<Panel CssClasses="flex flex-col gap-3">
    <ValueFieldWithLabel Label="Электронная почта">@UserEmail</ValueFieldWithLabel>
    <hr />
    <div class="flex flex-col gap-2">
        <h1>Изменить пароль</h1>
        <InputFieldWithLabel CssClasses="text-xs text-muted" Label="Старый пароль" InputType="password" Placeholder="password" />
        <InputFieldWithLabel CssClasses="text-xs text-muted" Label="Новый пароль" InputType="password" Placeholder="password" />
        <InputFieldWithLabel CssClasses="text-xs text-muted" Label="Повторите новый пароль" InputType="password" Placeholder="password" />
        <p class="text-attention text-xs">* Пароли не совпадают</p
        <ApplyButton>Изменить</ApplyButton>
    </div>
</Panel>

@code {
    private string UserEmail { get; set; } = string.Empty;     

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserEmail = authState.User.Identity?.Name!;
    }

}