@page "/register"
@layout EmptyLayout

<PageTitle>Регистрация — CatStore</PageTitle>

<div class="xl:container w-full grid grid-cols-12 xl:gap-5 gap-4 content-center grow">
    <Panel CssClasses="xl:col-span-4 col-span-6 xl:col-start-5 col-start-4 flex flex-col gap-3">
        <h1 class="text-xl text-center">Регистрация</h1>

        <InputFieldWithLabel Label="Электронная почта" InputType="email" Placeholder="example@gmail.com" />
        <InputFieldWithLabel Label="Пароль" InputType="password" Placeholder="password" />
        <InputFieldWithLabel Label="Повторите пароль" InputType="password" Placeholder="password" />

        <p class="text-attention">* Пароли не совпадают</p>

        <div class="flex justify-between gap-3">
            <ApplyButton>Зарегистрироваться</ApplyButton>
            <Button>Назад</Button>
        </div>
    </Panel>
</div>