<div class="flex flex-col h-fit xl:px-5 px-4 xl:py-4 py-3 gap-4 bg-neutral rounded-lg shadow text-sm">
    <div class="flex flex-col gap-2">
        <h2>Цена</h2>
        <input class="border-solid border-second border rounded-lg h-9 indent-3 placeholder:text-muted" type="number" placeholder="От 199" />
        <input class="border-solid border-second border rounded-lg h-9 indent-3 placeholder:text-muted" type="number" placeholder="До 499" />
    </div>

    <div class="flex flex-col gap-2">
        <h2>Пол</h2>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-muted" for="gender-any" onclick="document.querySelector('#gender-any').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="gender" id="gender-any" checked />
            Любой
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-muted" for="gender-boy" onclick="document.querySelector('#gender-boy').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="gender" id="gender-boy" />
            Мальчик
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-muted" for="gender-girl" onclick="document.querySelector('#gender-girl').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="gender" id="gender-girl" />
            Девочка
        </label>
    </div>

    <div class="flex flex-col gap-2">
        <h2 >Цвет</h2>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-muted" for="color-any" onclick="document.querySelector('#color-any').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="color" id="color-any" checked />
            <p class="text-red">Любой</p>
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-red-500" for="color-red" onclick="document.querySelector('#color-red').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="color" id="color-red" />
            Красный
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-orange-500" for="color-orange" onclick="document.querySelector('#color-orange').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="color" id="color-orange" />
            Оранжевый
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-yellow-500" for="color-yellow" onclick="document.querySelector('#color-yellow').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="color" id="color-yellow" />
            Желтый
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-green-500" for="color-green" onclick="document.querySelector('#color-green').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="color" id="color-green" />
            Зеленый
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-blue-500" for="color-blue" onclick="document.querySelector('#color-blue').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="color" id="color-blue" />
            Синий
        </label>
        <label class="flex items-center border-solid border-second border rounded-lg h-9 text-violet-500" for="color-violet" onclick="document.querySelector('#color-violet').click()">
            <input class="border-solid border-second border rounded-lg h-3.5 ml-3 mr-2 accent-black focus:outline-none" type="radio" name="color" id="color-violet" />
            Фиолетовый
        </label>
    </div>
    
    <div class="flex flex-col gap-2">
        <div class="flex justify-center items-center rounded-lg h-9 bg-primary text-white">Применить</div>
        <div class="flex justify-center items-center border-solid border-second border rounded-lg h-9 bg-neutral text-muted">Сбросить</div>
    </div>
</div>