@inherits LayoutComponentBase

<div class="flex flex-col min-h-full bg-background">
    <Header />

    <main class="xl:container w-full grow xl:py-5 py-4 xl:px-[50px] px-4">
        @Body
    </main>

    <Footer />
</div>