@inherits LayoutComponentBase
@layout MainLayout

<div class="grid grid-cols-12 xl:gap-5 md:gap-4 gap-3">
    <div class="md:block hidden xl:col-span-3 col-span-12">
        <NavMenu />
    </div>
    <div class="flex flex-col xl:col-span-9 col-span-12 xl:gap-5 md:gap-4 gap-3">
        @Body
    </div>
</div>