<div class="flex items-center gap-4 w-full">
    <div class="flex justify-between w-full px-5 py-2 bg-background rounded-lg text-sm">
        <span>@Name</span>
        <p class="text-sm font-bold">
            @if (Discount > 0)
            {
                <span class="text-primary">@(Cost - Discount) $</span>
                <span class="line-through text-xs">@Cost $</span>
            }
            else
            {
                <span>@Cost $</span>    
            }
        </p> 
    </div>

    <div class="flex justify-between gap-2">
        <div class="flex justify-center items-center w-9 py-2 border-solid border-second border rounded-lg text-sm">-</div>
        <div class="flex justify-center items-center w-16 py-2 bg-background rounded-lg text-sm">@Quantity</div>
        <div class="flex justify-center items-center w-9 py-2 border-solid border-second border rounded-lg text-sm">+</div>  
    </div>

    <div class="flex justify-center items-center min-w-24 py-2 bg-background rounded-lg text-sm">
        @(Quantity * (Cost - Discount)) $
    </div>

    <TrashBinButton />
</div>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;
    
    [Parameter]
    public int Cost { get; set; }

    [Parameter]
    public int Discount { get; set; }
    
    [Parameter]
    public int Quantity { get; set; }
}