<div class="@CssClasses xl:px-5 md:px-4 px-3 xl:py-4 md:py-3 py-2 h-fit bg-neutral rounded-lg shadow md:text-sm text-xs" @onclick="OnClick">
    @ChildContent
</div>

@code {
    [Parameter]
    public string CssClasses { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}