<div class="flex items-center relative">
    <select class="w-full h-8 px-3 text-sm appearance-none rounded-lg hover:shadow-md">
        <option value="cheap">Сначала дешевые</option>
        <option value="expensive">Сначала дорогие</option>
    </select>
    
    <svg class="absolute right-2 pointer-events-none" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_202_2306" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="22">
            <rect width="22" height="22" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_202_2306)">
            <path d="M11 13.75L6.41669 9.16667H15.5834L11 13.75Z" fill="#1C1B1F"/>
        </g>
    </svg>
</div>