<footer class="bg-neutral flex justify-center shadow-top">
    <div class="xl:max-w-screen-xl w-full grid grid-cols-12 xl:gap-5 gap-4 h-10 xl:px-[50px] px-4">
        <p class="col-span-3 flex items-center text-xs">
            CatStore
        </p>
        <div class="col-end-13 col-span-3 flex items-center justify-end hover:cursor-pointer hover:text-primary hover:fill-primary">
            <p class="text-xs mr-2">
                Исходный код
            </p>
            <svg width="22" height="22" viewBox="0 0 23 22" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.348 0.000273825C8.65838 -0.0184673 6.05078 0.925359 3.99628 2.66123C1.94178 4.3971 0.575875 6.81054 0.145339 9.46551C-0.285196 12.1205 0.248033 14.8419 1.64869 17.1381C3.04934 19.4342 5.22505 21.1537 7.78273 21.9859C8.3462 22.0781 8.53061 21.699 8.53061 21.4224V19.5373C5.4264 20.193 4.77072 18.0416 4.77072 18.0416C4.20725 16.72 3.45937 16.3512 3.45937 16.3512C2.51684 15.6853 3.56182 15.6853 3.56182 15.6853C4.68877 15.6853 5.3342 16.8122 5.3342 16.8122C6.27673 18.5026 7.96714 18.0416 8.62282 17.7547C8.62231 17.472 8.6803 17.1923 8.79314 16.9331C8.90598 16.674 9.07123 16.4409 9.27849 16.2487C6.74799 15.9721 4.11505 15.0296 4.11505 10.614C4.11505 9.48707 4.58632 8.46258 5.34444 7.70446C5.14354 7.22958 5.04002 6.7192 5.04002 6.20358C5.04002 5.68795 5.14354 5.17757 5.34444 4.70269C5.34444 4.70269 6.27673 4.41584 8.53061 5.82964C10.3747 5.32763 12.3212 5.32763 14.1653 5.82964C16.3168 4.41584 17.2593 4.70269 17.2593 4.70269C17.4602 5.17757 17.5637 5.68795 17.5637 6.20358C17.5637 6.7192 17.4602 7.22958 17.2593 7.70446C18.1096 8.46258 18.4887 9.48707 18.4887 10.7165C18.4887 15.0296 15.8557 15.9721 13.3252 16.2487C13.7863 16.6278 14.1653 17.1913 14.1653 18.3182V21.4224C14.1653 21.699 14.2678 22.0781 14.9132 21.9859C17.4709 21.1537 19.6466 19.4342 21.0472 17.1381C22.4479 14.8419 22.9811 12.1205 22.5506 9.46551C22.1201 6.81054 20.7541 4.3971 18.6996 2.66123C16.6451 0.925359 14.0376 -0.0184673 11.348 0.000273825Z"/>
            </svg>
        </div>
    </div>
</footer>