<header class="bg-neutral flex justify-center drop-shadow">
    <div class="xl:max-w-screen-xl w-full grid grid-cols-12 xl:gap-5 gap-4 py-3.5 xl:px-[50px] px-4">
        <div class="col-span-3 h-13 bg-primary text-white text-2xl text-center py-2.5 rounded-lg">
            CatStore
        </div>
        
        <div class="col-span-7 flex items-center relative">
            <input class="w-full h-full bg-background text-black text-sm indent-4 rounded-lg placeholder:text-muted" placeholder="Поиск по сайту" />
            <svg class="absolute right-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
            </svg>
        </div>
        
        <div class="flex flex-col gap-1 items-center self-center text-black text-xs relative hover:cursor-pointer hover:text-primary hover:fill-primary">
            <div class="flex justify-end">
                <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="30">
                    <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/>
                </svg>
                <div class="w-4 h-4 bg-primary text-white text-[10px] flex justify-center items-center rounded-full absolute top-3">
                    2
                </div>
            </div>
            Корзина
        </div>
        
        <div class="flex flex-col gap-1 items-center self-center text-black text-xs hover:cursor-pointer hover:text-primary hover:fill-primary">
            <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28">
                <path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/>
            </svg>
            Войти
        </div>
    </div>
</header>