@inherits LayoutComponentBase

<div class="flex flex-col min-h-full">
    <Header />

    <main class="h-[calc(100vh-120px)]">
        <article>
            @Body
        </article>
    </main>

    <Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
